<!DOCTYPE html>

{% extends "layout.html" %}
{% block contents %}
<!-- <h1>Dish:</h1>    -->
<h2>{{dish["recipeName"]}}</h2>
<h3>{{dish["recipeDesc"]}}</h3>
<img src = {{dish["recipeURL"]}}>
<h1>Ingredients:</h1>
<h4><ul>
            {% for n in dish["recipeIngredients"] %}
            <li>{{n}}</li>
            {% endfor %}
          </ul></h4>
<hr size="10" width="100%" align="centre" color="black">
<h1>Instructions:</h1>
<h4><ol><p class = </p>
            {% for n in dish["recipeInstructions"] %}
            <li>{{n}}</li>
            {% endfor %}
          </ol></h4>
{% endblock %}
