<!DOCTYPE html>

{% extends "layout.html" %}
{% block contents %}
<script type="text/javascript">
  function validateForm() {
  let x = document.forms["recipeForm"]["recipeName"].value;
  alert (x);
  if (x.length < 5){
    return false;}
  return true;
  }

</script>
<form id="recipeForm" class="form-horizontal" action="{{ url_for('handle_data') }}" method="post"
      onsubmit="return validateForm()">
    <fieldset>

        <!-- Form Name -->
        <legend>Submit recipe</legend>

        <!-- Text input: Recipe Name-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="recipeName">Name</label>
            <div class="col-md-4">
                <input id="recipeName" name="recipeName" type="text" placeholder="Enter the dish name"
                       class="form-control input-md" required="">
            </div>
        </div>
        <!-- Textarea: Recipe Description -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="recipeDesc">Description</label>
            <div class="col-md-6">
                <textarea class="form-control" id="recipeDesc" name="recipeDesc">Tell us about this dish</textarea>
            </div>
        </div>

        <!-- Text input: Serving Size-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="recipeServeSize">Serving size</label>
            <div class="col-md-4">
                <input id="recipeServeSize" name="recipeServeSize" type="text" placeholder="" class="form-control input-md">
            </div>
        </div>

        <!-- Text input: picture url-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="recipeURL">URL link for picture</label>
            <div class="col-md-4">
                <input id="recipeURL" name="recipeURL" type="text" placeholder="" class="form-control input-md">
            </div>
        </div>

        <!-- Textarea: Recipe ingredients -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="recipeIngredients">Ingredients</label>
            <div class="col-md-6">
                <textarea class="form-control" id="recipeIngredients" name="recipeIngredients">Please list your ingredients</textarea>
            </div>
        </div>


        <!-- Textarea: Recipe instructions -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="recipeInstructions">Instructions</label>
            <div class="col-md-6">
                <textarea class="form-control" id="recipeInstructions" name="recipeInstructions">Please provide the instructions</textarea>
            </div>
        </div>


        <!-- Button: Submit -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="submitButton">Upload your recipe</label>
            <div class="col-md-4">
                <button id="submitButton" name="submitButton" class="btn btn-primary">Submit</button>
            </div>
        </div>


    </fieldset>
</form>
{% endblock %}
